body{
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #485394;
}
/*#485394 background geral #5C68AE border*/
nav, #content, footer{
    background-color: whitesmoke;
    border: solid 2px #5C68AE;
}
a, a:hover, a:link, a:visited{
    text-decoration: none;
    color: #636FB3;
}
nav{
    justify-content: center;
    height: 62px;
    width: 100%;
    padding: 1em 0 2%;
    margin-bottom: 0.5%;
    text-decoration: none;

    
}
.mynav{
    display: inline;
}

nav div.mynav a{
    padding: 8px 12px;
    border: 1px #485394 solid;
    border-radius: 7px;
    margin: 0 2px;

}


#content h3, #content p{
    margin-bottom: 0.5%;
    width: 90%;
    font-family: monospace;
    margin-left: 4%;
    /*float: right;*/
    height: 90%;
}
#content{
    margin-bottom: 0.5%;
}


.clearfix:after{
    content: "";
    clear: both;
    display: table;
}